header {
  height: 60px;
  background: $main-color;
  color: white;

  .logo {
    float: left;
    margin-left: 30px;
    width: 150px;
    height: 60px;
    background: url("../img/logo.png") no-repeat center;
  }

  .control {
    float: right;
    margin-right: 20px;

    span {
      &:hover {
        background: url("../img/jian_on.png")no-repeat center;
      }

      display: inline-block;
      width: 35px;
      height: 60px;
      cursor: pointer;
      font-size: 18px;
      text-align: center;
      line-height: 60px;
      background: url("../img/jian.png") no-repeat center;
    }

    span:nth-of-type(2) {
      &:hover {
        background: url("../img/jia_on.png")no-repeat center;
      }

      background: url("../img/jia.png") no-repeat center;
    }
  }
}